<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings />
  <connectionStrings />
  <system.web>
    <!--
  
      ** NOTE **
      This httpHandler reference is REQUIRED for CaptchaControl to function;
      it allows us to dynamically generate the Captcha images and send them to the browser
      without relying on any physical image files on the webserver filesystem.
      
      See CaptchaImageHandler for more detail.

    -->
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.ashx" type="CaptchaLibrary.IisHandler" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="IisHandler" path="*.ashx" verb="*" type="CaptchaLibrary.IisHandler" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
  </system.webServer>
</configuration>